10 Minutes to pandas
====================

This is a short introduction to pandas, geared mainly for new users. You
can see more complex recipes in the Cookbook&lt;cookbook&gt;.

Customarily, we import as follows:

In [1]:
import modin.pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Process STDOUT and STDERR is being redirected to /tmp/raylogs/.
Waiting for redis server at 127.0.0.1:36055 to respond...
Waiting for redis server at 127.0.0.1:12567 to respond...
Starting the Plasma object store with 6.00 GB memory.

Object Creation
---------------

See the Data Structure Intro section &lt;dsintro&gt;.

Creating a Series by passing a list of values, letting pandas create a
default integer index:

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

The node with client ID f9a138063573894ddf11f9de0ca9ace6b816f214 has been marked dead because the monitor has missed too many heartbeats from it.

Creating a DataFrame by passing a NumPy array, with a datetime index and
labeled columns:

In [4]:
dates = pd.date_range('20130101', periods=6)
dates
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.437525 -1.765453 -2.301839 -0.268203
2013-01-02 -1.215779  0.025748  0.227276  0.632618
2013-01-03  0.289952 -0.704768  1.367800 -0.030956
2013-01-04  1.487685 -2.043604  0.673316  1.795883
2013-01-05 -0.380328  0.017579  0.075487 -0.549376
2013-01-06 -0.699524  1.063732 -1.758077 -0.213119

Creating a `DataFrame` by passing a dict of objects that can be
converted to series-like.

In [5]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

The columns of the resulting `DataFrame` have different
dtypes &lt;basics.dtypes&gt;.

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

As you can see, the columns `A`, `B`, `C`, and `D` are automatically tab
completed. `E` is there as well; the rest of the attributes have been
truncated for brevity.

Viewing Data
------------

See the Basics section &lt;basics&gt;.

Here is how to view the top and bottom rows of the frame:

In [7]:
df.head()
df.tail(3)

                   A         B         C         D
2013-01-04  1.487685 -2.043604  0.673316  1.795883
2013-01-05 -0.380328  0.017579  0.075487 -0.549376
2013-01-06 -0.699524  1.063732 -1.758077 -0.213119

Display the index, columns, and the underlying NumPy data:

In [8]:
df.index
df.columns
df.values

array([[-1.43752458, -1.7654532 , -2.30183872, -0.26820258],
       [-1.21577864,  0.02574786,  0.22727624,  0.63261803],
       [ 0.28995157, -0.7047682 ,  1.36779983, -0.03095592],
       [ 1.48768527, -2.04360357,  0.67331586,  1.79588266],
       [-0.38032837,  0.01757852,  0.07548669, -0.54937623],
       [-0.69952441,  1.06373203, -1.75807738, -0.21311949]])

\~DataFrame.describe shows a quick statistic summary of your data:

In [9]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.325920 -0.567794 -0.286006  0.227808
std    1.080603  1.182201  1.433882  0.864193
min   -1.437525 -2.043604 -2.301839 -0.549376
25%   -1.086715 -1.500282 -1.299686 -0.254432
50%   -0.539926 -0.343595  0.151381 -0.122038
75%    0.122382  0.023706  0.561806  0.466725
max    1.487685  1.063732  1.367800  1.795883

Transposing your data:

In [10]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.437525   -1.215779    0.289952    1.487685   -0.380328   -0.699524
B   -1.765453    0.025748   -0.704768   -2.043604    0.017579    1.063732
C   -2.301839    0.227276    1.367800    0.673316    0.075487   -1.758077
D   -0.268203    0.632618   -0.030956    1.795883   -0.549376   -0.213119

Sorting by an axis:

In [11]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.268203 -2.301839 -1.765453 -1.437525
2013-01-02  0.632618  0.227276  0.025748 -1.215779
2013-01-03 -0.030956  1.367800 -0.704768  0.289952
2013-01-04  1.795883  0.673316 -2.043604  1.487685
2013-01-05 -0.549376  0.075487  0.017579 -0.380328
2013-01-06 -0.213119 -1.758077  1.063732 -0.699524

Sorting by values:

In [12]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-04  1.487685 -2.043604  0.673316  1.795883
2013-01-01 -1.437525 -1.765453 -2.301839 -0.268203
2013-01-03  0.289952 -0.704768  1.367800 -0.030956
2013-01-05 -0.380328  0.017579  0.075487 -0.549376
2013-01-02 -1.215779  0.025748  0.227276  0.632618
2013-01-06 -0.699524  1.063732 -1.758077 -0.213119

Selection
---------

<div class="admonition note">

While standard Python / Numpy expressions for selecting and setting are
intuitive and come in handy for interactive work, for production code,
we recommend the optimized pandas data access methods, `.at`, `.iat`,
`.loc` and `.iloc`.

</div>

See the indexing documentation
Indexing and Selecting Data &lt;indexing&gt; and
MultiIndex / Advanced Indexing &lt;advanced&gt;.

### Getting

Selecting a single column, which yields a `Series`, equivalent to
`df.A`:

In [13]:
df['A']

2013-01-01   -1.437525
2013-01-02   -1.215779
2013-01-03    0.289952
2013-01-04    1.487685
2013-01-05   -0.380328
2013-01-06   -0.699524
Freq: D, Name: A, dtype: float64

Selecting via `[]`, which slices the rows.

In [14]:
df[0:3]
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -1.215779  0.025748  0.227276  0.632618
2013-01-03  0.289952 -0.704768  1.367800 -0.030956
2013-01-04  1.487685 -2.043604  0.673316  1.795883

### Selection by Label

See more in Selection by Label &lt;indexing.label&gt;.

For getting a cross section using a label:

In [15]:
df.loc[dates[0]]

A   -1.437525
B   -1.765453
C   -2.301839
D   -0.268203
Name: 2013-01-01 00:00:00, dtype: float64

Selecting on a multi-axis by label:

In [16]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -1.437525 -1.765453
2013-01-02 -1.215779  0.025748
2013-01-03  0.289952 -0.704768
2013-01-04  1.487685 -2.043604
2013-01-05 -0.380328  0.017579
2013-01-06 -0.699524  1.063732

Showing label slicing, both endpoints are *included*:

In [17]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -1.215779  0.025748
2013-01-03  0.289952 -0.704768
2013-01-04  1.487685 -2.043604

Reduction in the dimensions of the returned object:

In [18]:
df.loc['20130102',['A','B']]

A   -1.215779
B    0.025748
Name: 2013-01-02 00:00:00, dtype: float64

For getting a scalar value:

In [19]:
df.loc[dates[0],'A']

-1.4375245805043777

For getting fast access to a scalar (equivalent to the prior method):

In [20]:
df.at[dates[0],'A']

-1.4375245805043777

### Selection by Position

See more in Selection by Position &lt;indexing.integer&gt;.

Select via the position of the passed integers:

In [21]:
df.iloc[3]

A    1.487685
B   -2.043604
C    0.673316
D    1.795883
Name: 2013-01-04 00:00:00, dtype: float64

By integer slices, acting similar to numpy/python:

In [22]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  1.487685 -2.043604
2013-01-05 -0.380328  0.017579

By lists of integer position locations, similar to the numpy/python
style:

In [23]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -1.215779  0.227276
2013-01-03  0.289952  1.367800
2013-01-05 -0.380328  0.075487

For slicing rows explicitly:

In [24]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -1.215779  0.025748  0.227276  0.632618
2013-01-03  0.289952 -0.704768  1.367800 -0.030956

For slicing columns explicitly:

In [25]:
df.iloc[:,1:3]

                   B         C
2013-01-01 -1.765453 -2.301839
2013-01-02  0.025748  0.227276
2013-01-03 -0.704768  1.367800
2013-01-04 -2.043604  0.673316
2013-01-05  0.017579  0.075487
2013-01-06  1.063732 -1.758077

For getting a value explicitly:

In [26]:
df.iloc[1,1]

0.025747858132495468

For getting fast access to a scalar (equivalent to the prior method):

In [27]:
df.iat[1,1]

0.025747858132495468

### Boolean Indexing

Using a single column's values to select data.

In [ ]:
df[df.A > 0]

Selecting values from a DataFrame where a boolean condition is met.

In [ ]:
df[df > 0]

Using the \~Series.isin method for filtering:

In [ ]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2
df2[df2['E'].isin(['two','four'])]

### Setting

Setting a new column automatically aligns the data by the indexes.

In [ ]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1
df['F'] = s1

Setting values by label:

In [ ]:
df.at[dates[0],'A'] = 0

Setting values by position:

In [ ]:
df.iat[0,1] = 0

Setting by assigning with a NumPy array:

In [ ]:
df.loc[:,'D'] = np.array([5] * len(df))

The result of the prior setting operations.

In [ ]:
df

A `where` operation with setting.

In [ ]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

Missing Data
------------

pandas primarily uses the value `np.nan` to represent missing data. It
is by default not included in computations. See the Missing Data section
&lt;missing\_data&gt;.

Reindexing allows you to change/add/delete the index on a specified
axis. This returns a copy of the data.

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

To drop any rows that have missing data.

In [ ]:
df1.dropna(how='any')

Filling missing data.

In [ ]:
df1.fillna(value=0)

To get the boolean mask where values are `nan`.

In [ ]:
pd.isna(df1)

Operations
----------

See the Basic section on Binary Ops &lt;basics.binop&gt;.

### Stats

Operations in general *exclude* missing data.

Performing a descriptive statistic:

In [ ]:
df.mean()

Same operation on the other axis:

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need
alignment. In addition, pandas automatically broadcasts along the
specified dimension.

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s
df.sub(s, axis='index')

### Apply

Applying functions to the data:

In [ ]:
df.apply(np.cumsum)
df.apply(lambda x: x.max() - x.min())

### Histogramming

See more at
Histogramming and Discretization &lt;basics.discretization&gt;.

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s
s.value_counts()

### String Methods

Series is equipped with a set of string processing methods in the str
attribute that make it easy to operate on each element of the array, as
in the code snippet below. Note that pattern-matching in str generally
uses [regular expressions](https://docs.python.org/3/library/re.html) by
default (and in some cases always uses them). See more at
Vectorized String Methods
&lt;text.string\_methods&gt;.

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

Merge
-----

### Concat

pandas provides various facilities for easily combining together Series,
DataFrame, and Panel objects with various kinds of set logic for the
indexes and relational algebra functionality in the case of join /
merge-type operations.

See the Merging section &lt;merging&gt;.

Concatenating pandas objects together with concat:

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]

pd.concat(pieces)

### Join

SQL style merges. See the Database style joining &lt;merging.join&gt;
section.

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
left
right
pd.merge(left, right, on='key')

Another example that can be given is:

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
left
right
pd.merge(left, right, on='key')

### Append

Append rows to a dataframe. See the
Appending &lt;merging.concatenation&gt; section.

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df
s = df.iloc[3]
df.append(s, ignore_index=True)

Grouping
--------

By "group by" we are referring to a process involving one or more of the
following steps:

> -   **Splitting** the data into groups based on some criteria
> -   **Applying** a function to each group independently
> -   **Combining** the results into a data structure

See the Grouping section &lt;groupby&gt;.

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

Grouping and then applying the \~DataFrame.sum function to the resulting
groups.

In [ ]:
df.groupby('A').sum()

Grouping by multiple columns forms a hierarchical index, and again we
can apply the `sum` function.

In [ ]:
df.groupby(['A','B']).sum()

Reshaping
---------

See the sections on Hierarchical Indexing &lt;advanced.hierarchical&gt;
and Reshaping &lt;reshaping.stacking&gt;.

### Stack

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df2 = df[:4]
df2

The \~DataFrame.stack method "compresses" a level in the DataFrame's
columns.

In [ ]:
stacked = df2.stack()
stacked

With a "stacked" DataFrame or Series (having a `MultiIndex` as the
`index`), the inverse operation of \~DataFrame.stack is
\~DataFrame.unstack, which by default unstacks the **last level**:

In [ ]:
stacked.unstack()
stacked.unstack(1)
stacked.unstack(0)

### Pivot Tables

See the section on Pivot Tables &lt;reshaping.pivot&gt;.

In [ ]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

We can produce pivot tables from this data very easily:

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

Time Series
-----------

pandas has simple, powerful, and efficient functionality for performing
resampling operations during frequency conversion (e.g., converting
secondly data into 5-minutely data). This is extremely common in, but
not limited to, financial applications. See the
Time Series section &lt;timeseries&gt;.

In [ ]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('5Min').sum()

Time zone representation:

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts
ts_utc = ts.tz_localize('UTC')
ts_utc

Converting to another time zone:

In [ ]:
ts_utc.tz_convert('US/Eastern')

Converting between time span representations:

In [ ]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ps = ts.to_period()
ps
ps.to_timestamp()

Converting between period and timestamp enables some convenient
arithmetic functions to be used. In the following example, we convert a
quarterly frequency with year ending in November to 9am of the end of
the month following the quarter end:

In [ ]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts.head()

Categoricals
------------

pandas can include categorical data in a `DataFrame`. For full docs, see
the categorical introduction &lt;categorical&gt; and the
API documentation &lt;api.categorical&gt;.

In [ ]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})

Convert the raw grades to a categorical data type.

In [ ]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

Rename the categories to more meaningful names (assigning to
`Series.cat.categories` is inplace!).

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

Reorder the categories and simultaneously add the missing categories
(methods under `Series .cat` return a new `Series` by default).

In [ ]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

Sorting is per order in the categories, not lexical order.

In [ ]:
df.sort_values(by="grade")

Grouping by a categorical column also shows empty categories.

In [ ]:
df.groupby("grade").size()

Plotting
--------

See the Plotting &lt;visualization&gt; docs.

In [ ]:
import matplotlib.pyplot as plt
plt.close('all')

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()

ts.plot()

On a DataFrame, the \~DataFrame.plot method is a convenience to plot all
of the columns with labels:

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])
df = df.cumsum()

plt.figure(); df.plot(); plt.legend(loc='best')

Getting Data In/Out
-------------------

### CSV

Writing to a csv file. &lt;io.store\_in\_csv&gt;

In [ ]:
df.to_csv('foo.csv')

Reading from a csv file. &lt;io.read\_csv\_table&gt;

In [ ]:
pd.read_csv('foo.csv')

In [ ]:
os.remove('foo.csv')

### HDF5

Reading and writing to HDFStores &lt;io.hdf5&gt;.

Writing to a HDF5 Store.

In [ ]:
df.to_hdf('foo.h5','df')

Reading from a HDF5 Store.

In [ ]:
pd.read_hdf('foo.h5','df')

In [ ]:
os.remove('foo.h5')

### Excel

Reading and writing to MS Excel &lt;io.excel&gt;.

Writing to an excel file.

In [ ]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

Reading from an excel file.

In [ ]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

In [ ]:
os.remove('foo.xlsx')

Gotchas
-------

If you are attempting to perform an operation you might see an exception
like:
```py
>>> if pd.Series([False, True, False]):
    print("I was true")
Traceback
    ...
ValueError: The truth value of an array is ambiguous. Use a.empty, a.any() or a.all().
```

See Comparisons&lt;basics.compare&gt; for an explanation and what to do.

See Gotchas&lt;gotchas&gt; as well.